*,
*::before,
*::after {
    box-sizing: border-box;
}

.blind,
caption span,
legend {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    text-indent: -9999px;
    white-space: nowrap;
}

html,
body {
    @include font-samsungOne();
}