/* header */
$header-height: 70;

.header {
    background-color: #fff;

    &-inner {
        display: flex;
        position: relative;
        z-index: 10;
        justify-content: space-between;
        @include vw-convert-pc(height, $header-height);
        @include vw-convert-pc(padding, 0 100);
    }

    &-logo {
        display: flex;
        position: absolute;
        align-items: center;
        @include vw-convert-pc(left, 100);
        @include vw-convert-pc(width, 230);
        height: 100%;

        &__link {
            display: block;

            img {
                width: 100%;
            }
        }
    }

    &-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &__list {
            display: flex;
        }

        &__item {
            & ~ & {
                @include vw-convert-pc(margin-left, 50);
            }
        }

        &__link {
            position: relative;
            @include vw-convert-pc(padding-bottom, 5);
            text-transform: uppercase;
            font-weight: 700;
            @include font-samsungOne();
            @include vw-font-size-pc(20);

            &:hover {
                &:before {
                    transform: scaleX(1);
                }
            }

            &:before {
                display: inline-block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: #000;
                transform: scaleX(0);
                transition: transform .4s ease-in-out;
                content: '';
            }
        }
    }

    &-util {
        display: flex;
        position: absolute;
        align-items: center;
        @include vw-convert-pc(right, 100);
        height: 100%;
        transform: translateY(0);
        transition: transform .5s ease-in;

        .is-search-opened & {
            transform: translateY(-100%);
        }
    }

    &-search {
        &__cta {
            display: inline-block;
            @include vw-convert-pc(width, 20);
            @include vw-convert-pc(height, 20);
            background: url('../img/icon_search.png') no-repeat;
            background-size: contain;
        }

        &__layer {
            overflow: hidden;
            @include absolute-full;
            height: 100%;
            z-index: -1;
            transition: height .5s ease-in;
            background-color: #fff;

            .is-search-opened & {
                @include vw-convert-pc(height, ($header-height * 2));
            }

            &-input {
                position: absolute;
                @include vw-convert-pc(top, $header-height);
                @include vw-convert-pc(right, 100);
                @include vw-convert-pc(width, 260);
                @include vw-convert-pc(padding, 10 70 10 0);
                border-bottom: 2px solid #000;

                input {
                    @include font-samsungOne();
                    border: none;
                    background-color: transparent;
                }
            }

            &-cta {
                position: absolute;
                top: 50%;
                right: 0;
                font-weight: 700;
                @include vw-font-size-pc(18);
                text-transform: uppercase;
                transform: translateY(-50%);
            }
        }
    }

    &-lang {
        @include vw-convert-pc(margin-left, 30);

        &:after {
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 1px;
            @include vw-convert-pc(width, 6);
            @include vw-convert-pc(height, 6);
            transform: translateY(-50%);
            background: url('../img/icon_arrow.png') no-repeat;
            background-size: contain;
            transform-origin: top;
            transition: transform .4s ease-in-out;
            content: '';

            .is-lang-opened & {
                transform: rotate(180deg);
            }
        }

        &__cta {
            display: inline-block;
            @include vw-convert-pc(width, 35);
            @include vw-convert-pc(height, 20);
            @include vw-convert-pc(padding-right, 15);
            background: url('../img/icon_lang.png') no-repeat;
            background-size: contain;
        }

        &__layer {
            overflow: hidden;
            @include absolute-full;
            height: 100%;
            z-index: -1;
            transition: height .5s ease-in;
            background-color: #fff;

            .is-lang-opened & {
                @include vw-convert-pc(height, ($header-height * 2));
            }

            &-list {
                position: absolute;
                @include vw-convert-pc(top, $header-height);
                @include vw-convert-pc(right, 116);
            }

            &-item {
                @include vw-convert-pc(margin-top, 13);

                &:first-child {
                    margin-top: 0;
                }

                &.#{$activeClass} {
                    .header-lang__layer-cta {
                        border-bottom: 2px solid #000;
                        color: #000;
                    }
                }
            }

            &-cta {
                display: inline-block;
                @include vw-convert-pc(padding-bottom, 2);
                font-weight: 700;
                @include vw-font-size-pc(16);
                color: #666;
            }
        }
    }

    &-close {
        display: inline-block;
        @include vw-convert-pc(width, 20);
        @include vw-convert-pc(height, 20);
        position: absolute;
        top: 35%;
        @include vw-convert-pc(right, 100);
        transform: scale(0);
        transition: transform .3s .5s ease-in, opacity .3s ease-in, visibility .3s ease-in;
        opacity: 0;
        visibility: hidden;

        .is-search-opened & {
            transform: scale(1.2);
            opacity: 1;
            visibility: visible;
        }

        &:before,
        &:after {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000;
            content: '';

        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}

/* footer */
.footer {
    @include vw-convert-pc(margin, 0 100);
    @include vw-convert-pc(padding, 20 0);
    border-top: 1px solid #000;

    &__logo {
        display: inline-block;
        @include vw-convert-pc(width, 91);
        @include vw-convert-pc(height, 14);
        background: url(../img/logo_samsung_foot.png) no-repeat;
        background-size: contain;
    }

    &__copyright {
        @include vw-convert-pc(margin, 0 10);
        font-weight: bold;
        @include vw-font-size-pc(14);
        color: #888;
    }

    &__kr {
        display: inline-block;
        @include vw-convert-pc(padding, 0 10);
        border-left: 1px solid #888;
        text-decoration: underline;

        a {
            @include vw-font-size-pc(14);
            color: #888;
            letter-spacing: -0.04em;
        }
    }
}

@include breakpoint(mobile) {}