/* break points */
$screen-xsm: 320px;
$screen-sm: 767px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1440px;
$screen-xxlg: 1920px;

/* font */
$samsungOne: 'SamsungOne';
$sharpSans: 'Samsung Sharp Sans';
$samsungOne-sec: 'SamsungOneKorean',
'Dotum',
'돋움',
'Apple SD Gothic Neo',
arial;
$sharpSans-sec: 'SamsungSharpSans',
'SamsungOneKorean',
'Dotum',
'돋움',
'Apple SD Gothic Neo',
arial;

$th-fontsize-ratio: 1.35;
$th-large-font: 54;
$th-large-fontsize-ratio: 1.45;

$th-lineheight-ratio: 0.75;
$th-large-lineheight-ratio: 0.7;
$mm-lineheight-ratio: 1.4;

/* class */
$activeClass: 'is-active';