@charset "UTF-8";
@font-face {
  font-family: 'NanumBarunGothic';
  src: local(NanumBarunGothic);
  src: url("../font/NanumBarunGothic.eot");
  src: url("../font/NanumBarunGothic.woff") format("woff"), url("https://www.navercorp.com/font/NanumBarunGothic.otf") format("opentype");
}

@font-face {
  font-family: 'NanumSquare-L';
  src: local(NanumSquareOTFLight);
  src: url("../font/NanumSquareOTFLight.eot");
  src: url("../font/NanumSquareOTFLight.woff") format("woff"), url("../../font/NanumSquareOTFLight.otf") format("opentype");
}

@font-face {
  font-family: 'NanumSquare';
  src: local(NanumSquareOTFRegular);
  src: url("../font/NanumSquareOTFRegular.eot");
  src: url("../font/NanumSquareOTFRegular.woff") format("woff"), url("../../font/NanumSquareOTFRegular.otf") format("opentype");
}

@font-face {
  font-family: 'NanumSquare-B';
  src: local(NanumSquareOTFBold);
  src: url("../font/NanumSquareOTFBold.eot");
  src: url("../font/NanumSquareOTFBold.woff") format("woff"), url("../../font/NanumSquareOTFBold.otf") format("opentype");
}

@font-face {
  font-family: 'NanumSquare-EB';
  src: local(NanumSquareOTFExtraBold);
  src: url("../font/NanumSquareOTFExtraBold.eot");
  src: url("../font/NanumSquareOTFExtraBold.woff") format("woff"), url("../../font/NanumSquareOTFExtraBold.otf") format("opentype");
}



* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-style: normal;
  font-family: 'NanumSquare';
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}

header {
  position: fixed;
  left: 0; right: 0;
  top: 0;
  z-index: 9998;
  min-width: 1108px;
  background-color: #FFF;
}

#wrap {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
}