.container {
    padding: 80px 0 160px 0;
}

.main_content {
    max-width: 100%;
    padding: 0 160px 120px;
}

.content_summary {
    margin-top: 67px;
}

.summary_container {
    width: 26.6%;
    float: left;
    padding: 0 45px 0 45px;
    border-right: 1px solid #F1F1F1;
}

.summary_container:first-child {
    padding-left: 0;
}

.summary_container:last-child {
    width: 20.1%;
    padding-right: 0;
    border-right: none;
}

.content_summary::after {
    content: '';
    display: block;
    clear: both;
}

.summary_container::after {
    content: '';
    display: block;
    clear: both;
}

.summary_title {
    font-size: 14px;
    color: #212121;
    font-family: 'NanumSquare-EB';
}

.news_box {
    width: 100%;
    height: 76px;
    margin: 31px 0 30px;
}

.news_title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    color: #333;
}

.news_text {
    height: 44px;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    color: #878890;
    line-height: 1.6;
}

.news_box a:hover .news_title, .news_box a:focus .news_title {
    text-decoration: underline;
}

/*------------NEWS------------*/

.career_text {
    height: 76px;
    margin: 31px 0 30px;
    font-size: 18px;
    color: #333;
    font-family: 'NanumSquare-EB';
}

/*-----------CAREER-----------*/

.stock_info_box {
    height: 76px;
    margin: 23px 0 38px;
    color: #333;
}

.stock_price_box {
    padding-bottom: 8px;
    border-bottom: 1px solid #333;
}

.price {
    float: left;
    font-family: 'NanumSquare-EB';
    font-size: 36px;
    letter-spacing: -1.7px;
}

.stock_price_box .unit {
    font-size: 13px;
}

.figure.type::before {
    content: '';
    display: inline-block;
    background: url(../img/sprite.png) no-repeat;
    background-position: -317px -26px;
    background-size: 474px 1250px;
    -webkit-background-size: 474px 1250px;
    width: 11px;
    height: 6px;
    margin-right: 7px;
}

.figure.type {
    padding-top: 20px;
    float: right;
}

.stock_price_box::after {
    content: '';
    display: block;
    clear: both;
}

.date {
    text-align: right;
    font-size: 12px;
    color: #878890;
    margin-top: 12px;
    font-family: sans-serif;
}

/*--------------STOCK------------*/

.summary_link {
    padding-right: 30px;
    position: relative;
    color: #333;
    font-family: 'NanumSquare-B';
    font-size: 15px;
}

.summary_link:hover, .summary_link:focus {
    text-decoration: underline;
}

.icon_arrow::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../img/sprite.png) no-repeat;
    background-position: -102px -50px;
    -webkit-background-size: 474px 1250px;
    width: 5px;
    height: 11px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.icon_arrow {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

.summary_link:hover .icon_arrow, .summary_link:focus .icon_arrow{
    background-color: #00C73C;
}

.summary_link:hover .icon_arrow::before, .summary_link:focus .icon_arrow::before {
    background-position: -108px -49px;
    width: 6px;
}


/*--------------content_summary끝------------*/


.content_service {
    margin-top: 98px;
}

.service_list_container {
    font-size: 0;
}

.service_thumbnail_box {
    display: inline-block;
    position: relative;
    width: 33.3%;
    padding-top: 25%;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.service_thumbnail_box.list1 {
    background-image: url(../img/img_main_content1.png);
}

.service_thumbnail_box.list2 {
    background-image: url(../img/img_main_content2.png);
}

.service_thumbnail_box.list3 {
    background-image: url(../img/img_main_content3.png);
}

.service_thumbnail_box.list4 {
    background-image: url(../img/img_main_content4.png);
}

.service_thumbnail_box.list5 {
    background-image: url(../img/img_main_content5.png);
}

.service_thumbnail_box.list6 {
    background-image: url(../img/img_main_content6.png);
}

.service_thumbnail_box.list7 {
    background-image: url(../img/img_main_content7.png);
}

.service_thumbnail_box.list8 {
    background-image: url(../img/img_main_content8.png);
}

.service_thumbnail_box.list9 {
    background-image: url(../img/img_main_content9.png);
}

.service_thumbnail_box:nth-child(2), .service_thumbnail_box:nth-child(5), .service_thumbnail_box:nth-child(8) {
    width: 33.4%;
}

.service_list_container .thumbnail_dimmed {
    display: block;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 62, 80, 0.5);
    opacity: 0;
    filter: alpha(opacity = 0);
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
}

.thumbnail_dimmed dl dt {
    font-family: 'NanumSquare-EB';
    font-size: 22px;
    color: #fff;
    margin-bottom: 3px;
}

.thumbnail_dimmed dl dd {
    font-size: 15px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.thumbnail_dimmed dl {
    position: absolute;
    bottom: -130px;
    padding-left: 30px;
    transition: bottom 0.3s;
    -webkit-transition: bottom 0.3s;
}

.thumbnail_dimmed dl::before {
    content: '';
    display: block;
    background: url(../img/sprite.png);
    background-position: -199px -129px;
    width: 23px;
    height: 23px;
    margin-bottom: 30px;
    background-size: 474px 1250px;
    -webkit-background-size: 474px 1250px;
}

.thumbnail_dimmed:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

.service_thumbnail_box:hover .thumbnail_dimmed {
    opacity: 1;
    filter: alpha(opacity=100);
}

.thumbnail_dimmed:focus dl {
    bottom: 30px;
    transition: c;
}

.service_thumbnail_box:hover .thumbnail_dimmed dl {
    bottom: 30px;
}

.content_support {
    margin-top: 112px;
    text-align: center;
}

.content_support .support_title {
    margin-bottom: 17px;
    font-family: 'NanumSquare-B';
    font-size: 32px;
    color: #212121;
}

.content_support .support_text {
    margin-bottom: 134px;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

ul.support_list_container {
    max-width: 1360px;
    margin: 0 auto;
}

ul.support_list_container li.support_list_box {
    float: left;
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}

ul.support_list_container li.support_list_box:last-child {
    border: none;
}

li.support_list_box a {
    display: block;
    position: relative;
    width: 100%;
    padding: 135px 10px 0;
}

li.support_list_box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    background: url(../img/sprite.png) no-repeat;
    background-size: 474px 1250px;
    -webkit-background-size: 474px 1250px;
    height: 100px;
}

li.support_list_box a.creators::before {
    background-position: 0 -957px;
    width: 87px;
}

li.support_list_box a.business::before {
    background-position: -92px -957px;  
    width: 101px;
}

li.support_list_box a.developers::before {
    background-position: -199px -957px;
    width: 110px;
}

li.support_list_box a.flower::before {
    background-position: -316px -957px;
    width: 93px;
}

li.support_list_box a:hover dt, li.support_list_box a:focus dt {
    text-decoration: underline;
}

li.support_list_box dt {
    margin-bottom: 10px;
    font-family: 'NanumSquare-B';
    font-size: 16px;
    color: #00b843;
}

li.support_list_box dd {
    font-size: 15px;
    color: #878890;
    line-height: 1.6;
}

.text_line {
    margin: 0;
    word-break: keep-all;
}

ul.support_list_container::after {
    content: '';
    display: block;
    clear: both;
}