.header_wrap {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

.gnb_dropmenu_wrap {
    display: none;
    min-width: 1100px;
    height: 276px;
    background-color: #1EC545;
    z-index: 999;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /**/
}

.gnb_dropmenu_wrap > li {
    display: inline-block;
    width: 190px;
    height: 276px;
    padding-top: 28px;
    font-size: 1rem;
    vertical-align: top;
    background-color: #1EC545;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    /*border-right: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: -2px;*/
}

.gnb_dropmenu_wrap > li:hover {
    background-color: #0FB93C;
}

.gnb_menu_list:hover .gnb_dropmenu_wrap {
    display: block;
}

h1.header_logo {
    float: left;
    width: 87px;
    height: 17px;
    margin: 32px 0 0 32px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}

h1.header_logo a {
    display: block;
    width: 100%;
    height: 100%;
}

nav {
    display: inline-block;
}

ul.gnb_menu {
    font-size: 0;
}

li.gnb_menu_list, li.gnb_menu_list_recruit {
    display: inline-block;
    font-size: 1rem;
}

a.gnb_menu_item {
    display: block;
    position: relative; /**/
    margin: 0 32px;
    padding: 30px 0;
    font-size: 15px;
    color: #333;
}

.header_util {
    float: right;
    margin: 30px 25px 0 0;
    /**/
    width: 144px;
}

/*------------------------------*/

.gnb_menu_item::before, li.gnb_menu_list_recruit .gnb_menu_item::before {
    content:'';
    position: absolute;
    left: -1px;
    bottom: 20px;
    width: calc(100% + 2px);
    height: 2px;
    background-color: #0FB93C;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

li.gnb_menu_list:hover .gnb_menu_item::before,
a.gnb_menu_item:focus::before,
li.gnb_menu_list_recruit:hover .gnb_menu_item::before {
    transform: scaleX(1);
}

.header_lang {
    display: inline-block;
    vertical-align: middle;
    margin: 0 41px 0 0;
    font-size: 13px;
}

.header_lang a:first-child {
    padding-right: 7px;
    color: #333;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.header_lang a:last-child {
    padding-left: 3px;
    color: #333;
}

.gnb_dropmenu_wrap > li:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.gnb_dropmenu a {
    color: #FFF;
    font-size: 0.9rem;
}

.gnb_dropmenu > li {
    margin: 0 0 5px;
    font-size: 15px;
    text-align: left;
}

.gnb_dropmenu > li.depth_blank {
    margin-bottom: 14px;
}

.classify {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 17px;
}

.classify:first-child {
    margin-bottom: 0;
    padding-top: 0; 
    border-top: 0;
}

.classify:last-child {
    border-bottom: 0;
}

.gnb_dropmenu_item {
    display: block;
    padding-left: 28px;
} /*모르겠음*/

.depth {
    color: rgba(255, 255, 255, 0.7);
}

.depth:hover {
    color: rgba(255, 255, 255, 1);
}

/*----------------------------------------------*/



#wrap {
    min-width: 1120px;
    min-height: 100%;
}