.main_slide {
    position: relative;
    overflow: hidden; /*slide 400% 선언으로 인한 가로 스크롤 제거*/
}

.slide_info_container {
    position: absolute;
    top: 0; 
    width: 100%;
    height: 100%;
}

.slide_item {
    float: left;
    width: 25%;
}

.slid_item img {
    width: 100%;
}

.slide {
    width: 400%;
}

.slide::after {
    content: '';
    display: block;
    clear: both;
}

.slide_info_box {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.slide_logo {
    position: absolute;
    right: 160px;
    bottom: 78px;
    background: url(../img/sprite.png) no-repeat;
    background-size: 474px 1250px;
    -webkit-background-size: 474px 1250px;
}

.slide_logo.smartlens {
    background-position: 0 -1062px;
    width: 190px;
    height: 38px;
}

.slide_logo.flower {
    background-position: -142px -1101px;
    width: 191px;
    height: 52px;
}

.slide_logo.spacegreen {
    background-position: 0 -1104px;
    width: 133px;
    height: 47px;
}

.slide.labs {
    background-position: 191px 1161px;
    width: 179px;
    height: 25px;
}

.slide_text_box {
    position: absolute;
    left: 160px;
    bottom: 157px;
}

.slide_title {
    font-size: 36px;
    margin-bottom: 32px;
}

.slide_title strong {
    display: table-cell;
    vertical-align: middle;
    height: 92px;
}

.slide_text {
    font-size: 15px;
}

.slide_text span {
    display: table-cell;
    vertical-align: middle;
    height: 48px;
}

.slide_progressbar {
    position: absolute;
    left: 160px;
    bottom: 221px;
    width: calc(100% - 320px);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

.slide_progressbar .fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background-color: #FFF;
}

.slide_paging {
    position: absolute;
    left: 160px;
    bottom: 114px;
    color: #FFF;
    font-size: 12px;
}

.slide_paging .current {
    padding-right: 8px;
    border-right: 1px solid #FFF;
}

.slide_paging .total {
    padding-left: 7px;
}

.btn_prev {
    position: absolute;
    left: 85px;
    bottom: 198px;
    width: 49px;
    height: 49px;
    background: url(../img/sprite.png) no-repeat;
    background-size: 474px 1250px;
    -webkit-background-size: 474px 1250px;
    background-position: -295px -98px;
    opacity: .8;
    filter: alpha(opacity=80);
    border: none;
}

.btn_next {
    position: absolute;
    right: 85px;
    bottom: 198px;
    width: 49px;
    height: 49px;
    background: url(../img/sprite.png) no-repeat;
    background-size: 474px 1250px;
    -webkit-background-size: 474px 1250px;
    background-position: -346px -98px;
    opacity: .8;
    filter: alpha(opacity=80);
    border: none;
}

.btn_prev:hover, .btn_prev:focus, .btn_next:hover, .btn_next:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

