
.footer_wrap {
    display: block;
    width: auto;
    padding: 40px 0 0;
    margin: 0 43px;
}
.footer_txt p {
    font-size: 14px;
}
.footer_list {
    width: auto;
    padding: 0 5px;
    margin-top: 60px;
}
