
.intro_main {
    margin: 55px 0 36px;
    padding: 0 32px;
    position: static;
    display: flex;
    flex-direction: column-reverse;
    background: none;
}
.intro_main .cont_txt {
    position: static;
    font-size: 1.2em;
    width: 290px;
    top: 110px;
    left: 30px;
    margin-bottom: 28px;
}

.intro_main .cont_movie video {
    display: none;
}

.intro_main .cont_movie img {   
    display: inline-block;
    width: 296px;
    height: 164px;
}

.cont_company {
    padding-bottom: 200px;
    background: none;
}
.cont_company .cont_bg {
    background-size: 100% 24px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.cont_company .cont_bg img {
    width: 84px;
    height: 128px;
}
.cont_company .cont_info {
    position: relative;
    top: auto; left: auto;
    transform: none;
    width: auto;
    flex-direction: column-reverse;
}
.cont_company .cont_txt {
    margin-left: 0;
    padding: 0px 32px;
}
.cont_company .cont_txt h3 {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
}
.cont_company .cont_txt p {
    font-size: 13px;
    letter-spacing: -1px;
}


.cont_vision {
    display: block;
    padding-bottom: 160px;
}
.cont_vision > div {
    min-width: auto;
    padding: 0 47px;
}
.cont_vision .cont_title {
    min-width: auto;
    margin-bottom: 90px;
}
.cont_vision .cont_title h3 {
    font-size: 20px;
    line-height: initial;
}
.cont_vision .cont_txt {
    width: auto;
}
.cont_vision .cont_txt img {
    display: none;
}
.cont_vision .list_vision {
    position: static;
    display: block;
    margin-left: 0;
    width: auto;
}
.list_vision > li {
    width: auto;
    padding: 0;
    height: auto;
}
.list_vision > li:hover {
    background-color: unset;
}
.list_vision > li span {
    font-size: 8px;
    font-weight: 700;
}
.list_vision > li h4 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 1.67;
}
.list_vision > li p {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 100;
    color: #333333;
    line-height: 1.6;
}


.cont_welfare {
    padding-top: 0;
    background: none;
    display: block;
    padding-bottom: 180px;
}
.cont_welfare > div img {
    display: initial;
    width: 138px;
    height: 124px;
}
.cont_welfare .cont_title {
    padding:0 47px;
    min-width: auto;
    width: auto;
    margin-bottom: 140px;
}
.cont_welfare .cont_title h3 {
    font-size: 22px;
    line-height: 23px;
}
.cont_welfare .cont_title p {
    font-size: 14px;
    line-height: 24.9167px;
}
.cont_welfare .cont_slide {
    width: auto;
    position: static;
    padding: 0 32px 0 47px;
}
.cont_welfare .cont_slide .slide_txt {
    font-size: 28px;
    margin-bottom: 50px;
}
.slide {
    margin-bottom: 100px;
}
.slide_item {
    height: auto;
    padding-bottom: 20px;
}
.slide_item h5 {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}
.slide_item p {
    font-size: 14px;
    line-height: 1.9;
}
.slick-track > div {
    padding: 0 30px;
}
.slick-prev::before, .slick-next::before {
    content: none;
}


.cont_end {
    display: block;
    height: 500px;
    background-position-x: -150px;
    background-size: 400px;
}
.cont_end .cont_title {
    padding-left: 0;
    margin-left: 32px;
}
.cont_end .cont_title h3 {
    font-size: 24px;
    padding-top: 112px;
}

#pop_recruit {
    right: auto;
    bottom: 14px;
    width: calc(100% - 64px);
    height: 56px;
    margin: 0 32px;
    line-height: 59px;
    font-size: 14px;
}

#pop_recruit > span {
    top: 10px;
    right: 77px;
}