.works {width: 164px;}
.btn {
	 -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -moz-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 -ms-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	 font-family: 'Roboto mono', sans-serif;
	 font-weight: 500;
	 border: 1px solid #121212;
	 line-height: 64px;
	 font-size: em(14px);
	 width: 100%;
	 height: 64px;
	 display: block;
	 position: relative;
	 background-color: #fff;
	 overflow: hidden;
	 outline: none;
	 text-decoration: none;
	 text-align: center;
	 vertical-align: bottom;
	 border-radius: 10px;
}
.works li + li {
    margin-top: 20px;
}
.btn a {font-family: 'Permanent Marker', cursive;
     font-size: 21px;
	 color: #fff;
	 display: block;
	 width: 100%;
	 height: 100%;
}
 .btn:focus {
	 outline: none;
}
 @media screen and (min-width: 30em) {
	 .btn {
		 max-width: 220px;
	}
	 .btn.btn-small {
		 max-width: 180px;
	}
}
 @media screen and (min-width: 40em) {
	 .btn {
		 display: inline-block;
	}
}
 .btn-clear {
	 background-color: transparent;
}
 .btn-clear:hover {
	 background-color: #121212;
	 color: #fff;
}
 .btn-clear.btn-light {
	 border-color: #fff;
	 color: #fff;
}
 .btn-clear.btn-light:hover {
	 color: #121212;
	 background-color: #fff;
}
.btn-light {
	border: none;
}
 .btn-light:hover {
	 background-color: #121212;
	 color: #fff;
}
 .btn-dark {
	 background: none;
	 /* background-color: #121212; */
	 color: #fff;
	 border-color: #fff;
}
 .btn-dark:hover {
	 color: #807f83;
	 background-color: rgb(221, 34, 190);
	 border: none;
}
.btn-dark:hover a {color: rgb(255, 255, 255);}
 .btn-glitch {
	 transform: translateZ(0);
	 overflow: visible;
}
 .btn-glitch.btn-glitch-active {
	 -webkit-filter: url('#filter');
	 filter: url('#filter');
}
 .btn-glitch.btn-glitch-active::after, .btn-glitch.btn-glitch-active::before {
	 content: '';
	 width: 1px;
	 position: absolute;
	 top: -1px;
	 bottom: -1px;
}
 .btn-glitch.btn-glitch-active::after {
	 left: -2px;
	 background-color: #ff536b;
	 animation: colorshift-red 2.6s infinite;
	 animation-timing-function: step-end;
}
 .btn-glitch.btn-glitch-active::before {
	 right: -2px;
	 background-color: #3ffeff;
	 animation: colorshift-blue 2.6s infinite;
	 animation-timing-function: step-end;
}

 @keyframes colorshift-red {
	 0%, 7% {
		 background-color: #ff536b;
	}
	 8%, 18% {
		 background-color: transparent;
	}
	 19% {
		 background-color: #ff536b;
		 width: 2px;
	}
	 23%, 100% {
		 background-color: transparent;
	}
}
 @keyframes colorshift-blue {
	 0%, 7% {
		 background-color: #3ffeff;
	}
	 8%, 18% {
		 background-color: transparent;
	}
	 19% {
		 background-color: #3ffeff;
		 width: 2px;
	}
	 23%, 100% {
		 background-color: transparent;
	}
}
 