$component-name: 'design-home';

.#{$component-name} {
    @include vw-convert-pc(padding, 200 0);
    text-align: center;
    background-color: #ffeeec;

    &__inner {
        max-width: $screen-xxlg;
        margin: 0 auto;
        font-size: 0;
    }

    &__txt {
        @include vw-convert-pc(width, 1050);
        margin: 0 auto;

        &-title {
            @include vw-font-size-pc(70);
            @include line-height-pc(1.17142, 70);
            letter-spacing: 0.13em;
            text-transform: uppercase;
        }

        &-desc {
            @include vw-convert-pc(margin-top, 60);
            @include vw-font-size-pc(24);
            @include line-height-pc(1.5, 24);
            letter-spacing: -0.05em;
            transform: translateY(20%);
            opacity: 0;
            transition: transform 1s 1.6s, opacity 1s 1.6s;

            .#{$activeClass} & {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .txt-wrap {
            overflow: hidden;

            &.is-delay span {
                transition: transform 1s .3s, opacity 2s .3s;
            }

            span {
                display: inline-block;
                transform: translateY(100%);
                opacity: 0;
                transition: transform 1s, opacity 2s;


                .#{$activeClass} & {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }

    &__divider {
        display: inline-block;
        @include vw-convert-pc(width, 4);
        @include vw-convert-pc(height, 140);
        @include vw-convert-pc(margin-top, 60);
        background-color: #fe5d4d;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 1s 1s;

        .#{$activeClass} & {
            transform: scaleY(1);
        }
    }

    &__contents {
        display: inline-block;
        position: relative;
        @include vw-convert-pc(width, 674);
        @include vw-convert-pc(height, 830);
        background-color: red;
        vertical-align: top;
        transition: transform .5s ease-in-out;

        &:hover {
            z-index: 1;
            transform: scale(1.05);

            .#{$component-name}__contents-img {
                opacity: 1;
                visibility: visible;
            }
        }

        &-wrap {
            display: inline-block;
            position: relative;
            @include vw-convert-pc(margin-top, 150);
            font-size: 0;
        }

        &--blue {
            z-index: 1;
            background: url('../img/img_gate_1.jpg') no-repeat center center;

            .#{$component-name}__contents-img {
                background-image: url('../img/img_gate_1_hover.jpg');
            }
        }

        &--red {
            @include vw-convert-pc(margin, 200 0 0 -150);
            background: url('../img/img_gate_2.jpg') no-repeat center center;

            .#{$component-name}__contents-img {
                background-image: url('../img/img_gate_2_hover.jpg');
            }
        }

        &-img {
            @include absolute-full;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease-in-out;
        }

        &-link {
            display: flex;
            @include absolute-full;
            color: #fff;
            letter-spacing: 0.5em;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                display: inline-block;
                @include vw-font-size-pc(48);
                font-weight: normal;
                border-bottom: 2px solid #fff;
            }

            span {
                @include vw-convert-pc(margin-top, 20);
                @include vw-font-size-pc(24);
                letter-spacing: -0.05em;
            }
        }
    }

    &__symbol {
        display: inline-block;

        &-wrap {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            font-size: 0;
        }

        &-parts {
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .symbol {
        &-small {
            @include vw-convert-pc(margin, 50 0 0 -150);

            &-left {
                @include vw-convert-pc(width, 150);
                @include vw-convert-pc(height, 300);
                background-image: url('../img/svg_symbol_6_1.png');
            }

            &-right {
                @include vw-convert-pc(width, 150);
                @include vw-convert-pc(height, 300);
                background-image: url('../img/svg_symbol_6_2.png');
            }
        }

        &-large {
            position: absolute;
            @include vw-convert-pc(top, 670);
            @include vw-convert-pc(left, 320);
            @include vw-convert-pc(width, 400);

            &-left {
                @include vw-convert-pc(width, 200);
                @include vw-convert-pc(height, 400);
                background-image: url('../img/svg_symbol_5.png');
            }

            &-right {
                @include vw-convert-pc(width, 200);
                @include vw-convert-pc(height, 400);
                background-image: url('../img/svg_symbol_5.png');
                transform: rotate(180deg);
            }
        }
    }
}