.header_fixed {
    background-color: #404862;
}

.container {
    font-family: 'KoPubWorld Dotum Light';
    background-color: #fafafa;
}


h1.header_logo a {
    background-image: url(../img/logo_white.svg);
}

header a:visited,header a:link,header a:hover {
    color: #fff;
}

header a#submit:visited,header a#submit:link,header a#submit:hover {
    color: #000;
}

.gnb_menu_list:first-child {
    border-bottom: 1px solid #fff;
}

/*-----------------------------*/

.company {
    min-width: 1080px;
    margin: 0 auto;
}


.map_info {
    margin: 0 auto;
    width: 1080px;
    height: 180px;
    padding: 110px 0 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.map_info .title_main {
    font-size: 27px;
    font-weight: 600;
}



.map_pangyo {
    margin: 70px auto;
    width: 1080px;
    height: 500px;
}

.map_pangyo .title_main {
    font-size: 19px;
    font-family: 'KoPubWorld Dotum Medium';
    font-weight: 100;
    margin-bottom: 20px;
}

.map_pangyo .title_sub {
    font-size: 14px;
    color: #666666;
    margin-bottom: 8px;
}

.map_pangyo .title_sub .info_title {
    color: #000;
    font-family: 'KoPubWorld Dotum Medium';
    margin-right: 40px;
}

#map {
    width: 100%;
    height: 360px;
    margin-top: 40px;
}



.map_seoul {
    margin: 0 auto;
    width: 1080px;
    height: 830px;
}

.map_seoul .title_main {
    font-size: 19px;
    font-family: 'KoPubWorld Dotum Medium';
    font-weight: 100;
    margin-bottom: 20px;
}

.map_seoul .title_sub {
    font-size: 14px;
    color: #666666;
    margin-bottom: 8px;
}

.map_seoul .title_sub .info_title {
    color: #000;
    font-family: 'KoPubWorld Dotum Medium';
    margin-right: 40px;
}


#map2 {
    width: 100%;
    height: 360px;
    margin-top: 40px;
}