.header_fixed.on {
    background-color: #35A67D;
}

.header_fixed.on h1.header_logo a {
    background-image: url(../img/logo_white.svg);
}

.header_fixed.on .gnb_menu_list .gnb_menu_item {
    color: #fff;
}

.header_fixed .gnb_menu_list:nth-child(2) {
    border-bottom: 2px solid #000;
}

.header_fixed.on .gnb_menu_list:nth-child(2) {
    border-bottom: 2px solid #fff;
}


/*-------------헤더 수정;;;-------------*/


.safebox_main {
    text-align: center;
    margin: 0 auto;
    background-color: #35A67D;
    color: #fff;
}

.safebox_main_content {
    padding: 70px 0;
    min-width: 1020px;
}

.safebox_main .title_sub {
    font-family: 'KoPubWorld Dotum Light';
    font-weight: 100;
    font-size: 24px;
}

.safebox_main .title_main {
    margin-top: 12px;
    font-family: 'KoPubWorld Dotum Light';
    font-weight: 100;
    font-size: 58px;
}

.safebox_main .list_info {
    margin: 0 auto;
    width: 648px;
    padding-top: 63px;
    display: flex;
}

.list_info > li {
    width: 216px;
}

.safebox_main .list_img {
    display: block;
    margin: 0 auto 16px;
}

.list_img.img_1 {
    background-image: url(../img/detail-16-ico-each-80-pc-2x.png);
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
}

.list_img.img_2 {
    background: url(../img/sprite.png) no-repeat;
    background-position: -132px -592px;
    width: 64px;
    height: 64px;
}

.list_img.img_3 {
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -592px;
    width: 64px;
    height: 64px;
}


/*------------첫번째safebox_main끝---------*/


.product {
    height: 625px;
    min-width: 1020px;
}

.safebox_cont1 {
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

.safebox_cont1 img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 190px;
    z-index: 1;
}

.safebox_cont1 .cont_txt {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    left: 100px;
    width: 500px;
}

.safebox_cont1 .title_main {
    font-size: 40px;
    font-weight: 500;
}

.safebox_cont1 .title_sub {
    font-size: 15px;
    font-family: 'KoPubWorld Dotum Light';
    color: #666666;
    line-height: 1.8;
    margin-top: 20px;
}

.safebox_cont1 .cont_img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 100px;
    background-color: #fff;
    box-shadow: 0px -20px 17px #acacac;
    -webkit-box-shadow: 0px -20px 17px #acacac;
    width: 340px;
    height: 100%;
    padding-left: 10px;
    padding-top: 31px;
}

.ani_1 {
    width: fit-content;
    height: auto;
}

.ani_2 {
    width: fit-content;
    height: auto;
}

.ani_3 {
    width: fit-content;
    height: auto;
}

.safebox_cont1.on .ani_1 {
    animation: fadein 1s forwards;
    -webkit-animation: fadein 1s forwards;
}

.safebox_cont1.on .ani_2 {
    animation: down 1s forwards;
    -webkit-animation: down 1s forwards;
}

.safebox_cont1.on .ani_3 {
    animation: fadein2 1.5s forwards ease-in;
    -webkit-animation: fadein2 1.5s forwards ease-in;
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate(0, 50px);
    }
}

@keyframes down {
    to {
        transform: translate(0, 50px);
    }
}

@keyframes fadein2 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0, 50px);
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate(0, 50px);
    }
}

@-webkit-keyframes down {
    to {
        transform: translate(0, 50px);
    }
}

@-webkit-keyframes fadein2 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0, 50px);
    }
}

.safebox_cont1 .slide_img {
    display: block;
    background: url(../img/sprite.png) no-repeat;
    margin-bottom: 10px;
    width: 319px;
}

.slide_img.img_1 {
    background-position: -554px 0;
    height: 195px;   
}

.slide_img.img_2 {
    position: absolute;
    top: -50px;
    background-position: -554px -392px;
    height: 65px;
    border-radius: 14px;
    box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.5);
}

.slide_img.img_3 {
    position: absolute;
    top: 30px;
    background-position: -554px -196px;
    height: 194px;
}

.slide_img.img_4 {
    position: absolute;
    top: 234px;
    background-position: -554px -460px;
    height: 65px;
    border-radius: 14px;
    box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.5);
}




/*-----------두번째safebox_cont1끝----------*/


.safebox_cont2 {
    position: relative;
    background-color: #f7f7f7;
    overflow: hidden;
}

.safebox_cont2 .cont_txt {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(100%, -50%);
    -webkit-transform: translate(100%, -50%);
}

.safebox_cont2 .title_main {
    font-size: 40px;
    font-weight: 500;
}

.safebox_cont2 .title_sub {
    font-size: 15px;
    font-family: 'KoPubWorld Dotum Light';
    color: #666666;
    line-height: 1.8;
    margin-top: 20px;
}

.cont_ani {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    margin-top: -110px;
    margin-left: -490px;
}

.cont_circle {
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

.cont_circle.circle_1 {
    position: absolute;
    width: 210px;
    height: 210px;
    background-color: #3E4459;
}

.safebox_cont2.on .cont_circle.circle_1 {
    -webkit-animation: scale 1s ease-in-out forwards;
    animation: scale 1s ease-in-out forwards;
}

.circle_txt2 {
    display: block;
    position: absolute;
    top: 67px;
    left: 32px;
    width: 140px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    z-index: 2;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.4);
    }
}

@-webkit-keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.4);
    }
}

.cont_circle.circle_2 {
    display: flex;
    position: absolute;
    top: 18px;
    left: 195px;
    width: 168px;
    height: 168px;
    background-color: rgba(0,159,102,0.9);
    align-items: center;
    justify-content: center;
    font-size: 28px;
    z-index: 1;
}

.safebox_cont2.on .cont_circle.circle_2 {
    -webkit-animation: go_move 1s ease-in-out forwards;
    animation: go_move 1s ease-in-out forwards;
}

@keyframes go_move {
    to {
        transform: translateX(40px);
    }
}

.back { 
    position: absolute;
    top: 80px;
    left: 200px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(62, 68, 89, 0.123);
}

.back.circle_1 {
    -webkit-animation: back_scale1 5s forwards infinite;
    animation: back_scale1 5s forwards infinite;
}

.back.circle_2 {
    -webkit-animation: back_scale2 5s forwards infinite;
    animation: back_scale2 5s forwards infinite;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

@keyframes back_scale1 {
    0% {
        transform: scale(0);
    }
    99% {
        transform: scale(16);
    }
    100% {
        transform: scale(16);
        opacity: 0;
    }
}

@keyframes back_scale2 {
    0% {
        transform: scale(0);
    }
    99% {
        transform: scale(14);
    }
    100% {
        transform: scale(14);
        opacity: 0;
    }
}

@-webkit-keyframes back_scale1 {
    0% {
        transform: scale(0);
    }
    99% {
        transform: scale(16);
    }
    100% {
        transform: scale(16);
        opacity: 0;
    }
}

@-webkit-keyframes back_scale2 {
    0% {
        transform: scale(0);
    }
    99% {
        transform: scale(14);
    }
    100% {
        transform: scale(14);
        opacity: 0;
    }
}


/*-----------세번째safebox_cont2끝----------*/


.safebox_cont3 {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

.safebox_cont3 .cont_txt {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 500px;
}

.safebox_cont3 .title_main {
    font-size: 40px;
    font-weight: 500;
}

.safebox_cont3 .title_sub {
    font-size: 15px;
    font-family: 'KoPubWorld Dotum Light';
    color: #666666;
    line-height: 1.8;
    margin-top: 20px;
}

.safebox_cont3 .cont_img {
    width: 500px;
    height: 500px;
}

.safebox_cont3 .set_img {
    display: block;
}

.safebox_cont3 .img_1 {
    position: absolute;
    top: 150px;
    left: 540px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -291px 0;
    width: 260px;
    height: 525px;
}

.safebox_cont3.on .img_1 {
    -webkit-animation: go_left 1s forwards;
    animation: go_left 1s forwards;
}

.safebox_cont3 .img_2 {
    position: absolute;
    top: 90px;
    left: 580px;
    background: url(../img/sprite.png) no-repeat;
    width: 289px;
    height: 589px;
}

.safebox_cont3.on .img_2 {
    -webkit-animation: go_right 1s forwards;
    animation: go_right 1s forwards;
}

@keyframes go_left{
    to {
        transform: translateX(-95px);
    }
}

@keyframes go_right{
    to {
        transform: translateX(95px);
    }
}

@-webkit-keyframes go_left{
    to {
        transform: translateX(-95px);
    }
}

@-webkit-keyframes go_right{
    to {
        transform: translateX(95px);
    }
}

.safebox_cont3 img {
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 190px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 1;
}


/*-----------네번째safebox_cont3끝----------*/


.safebox_cont4 {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    padding: 130px 0 120px;
    height: auto;
}

.list_detail {
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

.list.on {
    background-color: #F4F4F4;
}

.list_detail > li {
    font-size: 18px;
    border-top: 1px solid #e7e7e7;
}

.list_detail > li:first-child {
    border-top: none;
}

.list_detail li a {
    position: relative;
    display: block;
    padding: 25px 25px;
}

.list .arrow {
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 30px;
    background: url(../img/img_kakaobank.png) no-repeat;
    background-position: -101px -121px;
    width: 15px;
    height: 10px;
}

.list.on .arrow {
    background-position: -101px -129px;
}

.list_detail li a:hover, .list_detail li a:focus {
    text-decoration: none;
}

.detail {
    background: #F4F4F4;
    display: block;
    max-height: 0;
    /* -webkit-transition: max-height,padding .5s ease; */
    transition: max-height .4s;
    overflow: hidden;
}

.list.on .detail{
    max-height: 1000px;
    border-top: 1px solid #e7e7e7;
}


.list.on .detail > p:first-child {
    padding-top: 30px;
}

.list.on .detail > p:last-child {
    padding-bottom: 30px;
}

.detail > p {
    font-size: 15px;
    margin: 0 30px;
    padding: 10px;
    color: #666666;
    line-height: 2;
    transition: all .5s ease;
}

.detail > p strong {
    color: #000;
    font-weight: 100;
}

.detail > .line {
    display: block;
    width: calc(100% - 80px);
    margin: 0 40px;
    background-color: #e6e6e6;
    height: 1px;
}

.detail ul > li {
    font-size: 13px;
    margin: 0 30px;
    font-family: 'KoPubWorld Dotum Light';
    padding-left: 10px;
}

.detail ul > li + li {
    padding-top: 10px;
}

.recommend_product {
    margin-top: 135px;
}

.recommend_product .title_main {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 50px;
}

.recommend_product .list_product {
    overflow: hidden;
}

.recommend_product .list_product > li {
    float: left;
    width: 16%;
    height: 112px;
    background-color: #35A67D;
    margin-right: 6px;
    overflow: hidden;
    margin-bottom: 6px;
}

.recommend_product .list_product a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 17px;
    padding: 20px;
}


.ico {
    position: absolute;
    right: 13px;
    bottom: 13px;
    width: 46px; height: 46px;
    background: url(../img/img_kakaobank.png) no-repeat;
}

.item_1 {
    background-position: -122px -3px;
}

.item_2 {
    background: url(../img/ico72Account5Green-2x.png) no-repeat;
    background-size: 46px;
}

.item_3 {
    background-position: -243px -2px;
}

.item_4 {
    background-position: -181px -1px;
    width: 50px;
    height: 50px;
}

.item_5 {
    background-position: -119px -62px;
    width: 51px;
}

.item_6 {
    background-position: -179px -70px;
    width: 52px;
    height: 40px;
}

.item_7 {
    background-position: -241px -61px;
    width: 48px;
}

.item_8 {
    background-position: -121px -127px;
    width: 48px;
    height: 43px;
}

.list_product > li:nth-child(5), .list_product > li:nth-child(6), .list_product > li:nth-child(7), .list_product > li:nth-child(8) {
    background-color: #526baa;
}

.list_product a:hover, .list_product a:visited, .list_product a:focus {
    text-decoration: none;
    color: #fff;
}

.review_txt {
    font-size: 14px;
    color: #666666;
    text-align: right;
    line-height: 48px;
    padding-top: 80px;
}