/* break points */
$screen-xsm: 320px;
$screen-sm: 767px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1440px;
$screen-xxlg: 1920px;

/* font */
$samsungOne: 'SamsungOne';
$sharpSans: 'Samsung Sharp Sans';

/* class */
$activeClass: 'is-active';