@charset "UTF-8";
/* common */
/* break points */
/* font */
/* class */
/* breakpoints */
/* vw conversion */
@font-face {
  font-family: "Samsung Sharp Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SamsungSharpSans-regular.TTF") format("truetype"), url("../fonts/SamsungSharpSans-regular.TTF") format("embedded-opentype");
}
@font-face {
  font-family: "Samsung Sharp Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/SamsungSharpSans-Bold.eot");
  src: url("../fonts/SamsungSharpSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SamsungSharpSans-Bold.woff2") format("woff2"), url("../fonts/SamsungSharpSans-Bold.woff") format("woff"), url("../fonts/SamsungSharpSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/samsungoneuilatin-400.ttf") format("truetype"), url("../fonts/samsungoneuilatin-400.eot") format("embedded-opentype");
}
@font-face {
  font-family: "SamsungOneKorean";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SamsungOneKorean-400.woff2") format("woff2");
}
@font-face {
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/samsungoneuilatin-700.eot");
  src: url("../fonts/samsungoneuilatin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/samsungoneuilatin-700.woff") format("woff"), url("../fonts/samsungoneuilatin-700.ttf") format("truetype");
}
@font-face {
  font-family: "SamsungOneKorean";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SamsungOneKorean-700.woff2") format("woff2");
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  display: block;
}

html,
body {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  margin: -1px;
  padding: 0;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address,
caption,
em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #000;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  text-indent: -9999px;
  white-space: nowrap;
}

html,
body {
  font-family: "SamsungOne";
}
html[lang^=ko] html,
html[lang^=ko] body {
  font-family: "SamsungOneKorean", "Dotum", "돋움", "Apple SD Gothic Neo", arial;
}

/* header */
.header {
  background-color: #fff;
}
.header-inner {
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: space-between;
  height: 70px;
  height: 4.8611111111vw;
  padding: 0px 100px;
  padding: 0vw 6.9444444444vw;
}
@media (min-width: 1440px) {
  .header-inner {
    height: 70px;
  }
}
@media (min-width: 1440px) {
  .header-inner {
    padding: 0px 100px;
  }
}
.header-logo {
  display: flex;
  position: absolute;
  align-items: center;
  left: 100px;
  left: 6.9444444444vw;
  width: 230px;
  width: 15.9722222222vw;
  height: 100%;
}
@media (min-width: 1440px) {
  .header-logo {
    left: 100px;
  }
}
@media (min-width: 1440px) {
  .header-logo {
    width: 230px;
  }
}
.header-logo__link {
  display: block;
}
.header-logo__link img {
  width: 100%;
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header-nav__list {
  display: flex;
}
.header-nav__item ~ .header-nav__item {
  margin-left: 50px;
  margin-left: 3.4722222222vw;
}
@media (min-width: 1440px) {
  .header-nav__item ~ .header-nav__item {
    margin-left: 50px;
  }
}
.header-nav__link {
  position: relative;
  padding-bottom: 5px;
  padding-bottom: 0.3472222222vw;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "SamsungOne";
  font-size: 20px;
  font-size: 1.3888888889vw;
}
@media (min-width: 1440px) {
  .header-nav__link {
    padding-bottom: 5px;
  }
}
html[lang^=ko] .header-nav__link {
  font-family: "SamsungOneKorean", "Dotum", "돋움", "Apple SD Gothic Neo", arial;
}
@media (min-width: 1440px) {
  .header-nav__link {
    font-size: 20px;
  }
}
.header-nav__link:hover:before {
  transform: scaleX(1);
}
.header-nav__link:before {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  content: "";
}
.header-util {
  display: flex;
  position: absolute;
  align-items: center;
  right: 100px;
  right: 6.9444444444vw;
  height: 100%;
  transform: translateY(0);
  transition: transform 0.5s ease-in;
}
@media (min-width: 1440px) {
  .header-util {
    right: 100px;
  }
}
.is-search-opened .header-util {
  transform: translateY(-100%);
}
.header-search__cta {
  display: inline-block;
  width: 20px;
  width: 1.3888888889vw;
  height: 20px;
  height: 1.3888888889vw;
  background: url("../img/icon_search.png") no-repeat;
  background-size: contain;
}
@media (min-width: 1440px) {
  .header-search__cta {
    width: 20px;
  }
}
@media (min-width: 1440px) {
  .header-search__cta {
    height: 20px;
  }
}
.header-search__layer {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  transition: height 0.5s ease-in;
  background-color: #fff;
}
.is-search-opened .header-search__layer {
  height: 140px;
  height: 9.7222222222vw;
}
@media (min-width: 1440px) {
  .is-search-opened .header-search__layer {
    height: 140px;
  }
}
.header-search__layer-input {
  position: absolute;
  top: 70px;
  top: 4.8611111111vw;
  right: 100px;
  right: 6.9444444444vw;
  width: 260px;
  width: 18.0555555556vw;
  padding: 10px 70px 10px 0px;
  padding: 0.6944444444vw 4.8611111111vw 0.6944444444vw 0vw;
  border-bottom: 2px solid #000;
}
@media (min-width: 1440px) {
  .header-search__layer-input {
    top: 70px;
  }
}
@media (min-width: 1440px) {
  .header-search__layer-input {
    right: 100px;
  }
}
@media (min-width: 1440px) {
  .header-search__layer-input {
    width: 260px;
  }
}
@media (min-width: 1440px) {
  .header-search__layer-input {
    padding: 10px 70px 10px 0px;
  }
}
.header-search__layer-input input {
  font-family: "SamsungOne";
  border: none;
  background-color: transparent;
}
html[lang^=ko] .header-search__layer-input input {
  font-family: "SamsungOneKorean", "Dotum", "돋움", "Apple SD Gothic Neo", arial;
}
.header-search__layer-cta {
  position: absolute;
  top: 50%;
  right: 0;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.25vw;
  text-transform: uppercase;
  transform: translateY(-50%);
}
@media (min-width: 1440px) {
  .header-search__layer-cta {
    font-size: 18px;
  }
}
.header-lang {
  margin-left: 30px;
  margin-left: 2.0833333333vw;
}
@media (min-width: 1440px) {
  .header-lang {
    margin-left: 30px;
  }
}
.header-lang:after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 1px;
  width: 6px;
  width: 0.4166666667vw;
  height: 6px;
  height: 0.4166666667vw;
  transform: translateY(-50%);
  background: url("../img/icon_arrow.png") no-repeat;
  background-size: contain;
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
  content: "";
}
@media (min-width: 1440px) {
  .header-lang:after {
    width: 6px;
  }
}
@media (min-width: 1440px) {
  .header-lang:after {
    height: 6px;
  }
}
.is-lang-opened .header-lang:after {
  transform: rotate(180deg);
}
.header-lang__cta {
  display: inline-block;
  width: 35px;
  width: 2.4305555556vw;
  height: 20px;
  height: 1.3888888889vw;
  padding-right: 15px;
  padding-right: 1.0416666667vw;
  background: url("../img/icon_lang.png") no-repeat;
  background-size: contain;
}
@media (min-width: 1440px) {
  .header-lang__cta {
    width: 35px;
  }
}
@media (min-width: 1440px) {
  .header-lang__cta {
    height: 20px;
  }
}
@media (min-width: 1440px) {
  .header-lang__cta {
    padding-right: 15px;
  }
}
.header-lang__layer {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  transition: height 0.5s ease-in;
  background-color: #fff;
}
.is-lang-opened .header-lang__layer {
  height: 140px;
  height: 9.7222222222vw;
}
@media (min-width: 1440px) {
  .is-lang-opened .header-lang__layer {
    height: 140px;
  }
}
.header-lang__layer-list {
  position: absolute;
  top: 70px;
  top: 4.8611111111vw;
  right: 116px;
  right: 8.0555555556vw;
}
@media (min-width: 1440px) {
  .header-lang__layer-list {
    top: 70px;
  }
}
@media (min-width: 1440px) {
  .header-lang__layer-list {
    right: 116px;
  }
}
.header-lang__layer-item {
  margin-top: 13px;
  margin-top: 0.9027777778vw;
}
@media (min-width: 1440px) {
  .header-lang__layer-item {
    margin-top: 13px;
  }
}
.header-lang__layer-item:first-child {
  margin-top: 0;
}
.header-lang__layer-item.is-active .header-lang__layer-cta {
  border-bottom: 2px solid #000;
  color: #000;
}
.header-lang__layer-cta {
  display: inline-block;
  padding-bottom: 2px;
  padding-bottom: 0.1388888889vw;
  font-weight: 700;
  font-size: 16px;
  font-size: 1.1111111111vw;
  color: #666;
}
@media (min-width: 1440px) {
  .header-lang__layer-cta {
    padding-bottom: 2px;
  }
}
@media (min-width: 1440px) {
  .header-lang__layer-cta {
    font-size: 16px;
  }
}
.header-close {
  display: inline-block;
  width: 20px;
  width: 1.3888888889vw;
  height: 20px;
  height: 1.3888888889vw;
  position: absolute;
  top: 35%;
  right: 100px;
  right: 6.9444444444vw;
  transform: scale(0);
  transition: transform 0.3s 0.5s ease-in, opacity 0.3s ease-in, visibility 0.3s ease-in;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 1440px) {
  .header-close {
    width: 20px;
  }
}
@media (min-width: 1440px) {
  .header-close {
    height: 20px;
  }
}
@media (min-width: 1440px) {
  .header-close {
    right: 100px;
  }
}
.is-search-opened .header-close {
  transform: scale(1.2);
  opacity: 1;
  visibility: visible;
}
.header-close:before, .header-close:after {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  content: "";
}
.header-close:before {
  transform: rotate(45deg);
}
.header-close:after {
  transform: rotate(-45deg);
}

/* footer */
.footer {
  margin: 0px 100px;
  margin: 0vw 6.9444444444vw;
  padding: 20px 0px;
  padding: 1.3888888889vw 0vw;
  border-top: 1px solid #000;
}
@media (min-width: 1440px) {
  .footer {
    margin: 0px 100px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 20px 0px;
  }
}
.footer__logo {
  display: inline-block;
  width: 91px;
  width: 6.3194444444vw;
  height: 14px;
  height: 0.9722222222vw;
  background: url(../img/logo_samsung_foot.png) no-repeat;
  background-size: contain;
}
@media (min-width: 1440px) {
  .footer__logo {
    width: 91px;
  }
}
@media (min-width: 1440px) {
  .footer__logo {
    height: 14px;
  }
}
.footer__copyright {
  margin: 0px 10px;
  margin: 0vw 0.6944444444vw;
  font-weight: bold;
  font-size: 14px;
  font-size: 0.9722222222vw;
  color: #888;
}
@media (min-width: 1440px) {
  .footer__copyright {
    margin: 0px 10px;
  }
}
@media (min-width: 1440px) {
  .footer__copyright {
    font-size: 14px;
  }
}
.footer__kr {
  display: inline-block;
  padding: 0px 10px;
  padding: 0vw 0.6944444444vw;
  border-left: 1px solid #888;
  text-decoration: underline;
}
@media (min-width: 1440px) {
  .footer__kr {
    padding: 0px 10px;
  }
}
.footer__kr a {
  font-size: 14px;
  font-size: 0.9722222222vw;
  color: #888;
  letter-spacing: -0.04em;
}
@media (min-width: 1440px) {
  .footer__kr a {
    font-size: 14px;
  }
}

/* pages */
.design-home {
  padding: 200px 0px;
  padding: 13.8888888889vw 0vw;
  text-align: center;
  background-color: #ffeeec;
}
@media (min-width: 1440px) {
  .design-home {
    padding: 200px 0px;
  }
}
.design-home__inner {
  max-width: 1920px;
  margin: 0 auto;
  font-size: 0;
}
.design-home__txt {
  width: 1050px;
  width: 72.9166666667vw;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .design-home__txt {
    width: 1050px;
  }
}
.design-home__txt-title {
  font-size: 70px;
  font-size: 4.8611111111vw;
  line-height: 1.17142;
  letter-spacing: 0.13em;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .design-home__txt-title {
    font-size: 70px;
  }
}
html[lang^=th] .design-home__txt-title {
  line-height: 0.819994;
}
html[lang^=my] .design-home__txt-title {
  line-height: 1.4;
}
.design-home__txt-desc {
  margin-top: 60px;
  margin-top: 4.1666666667vw;
  font-size: 24px;
  font-size: 1.6666666667vw;
  line-height: 1.5;
  letter-spacing: -0.05em;
}
@media (min-width: 1440px) {
  .design-home__txt-desc {
    margin-top: 60px;
  }
}
@media (min-width: 1440px) {
  .design-home__txt-desc {
    font-size: 24px;
  }
}
html[lang^=th] .design-home__txt-desc {
  line-height: 1.125;
}
html[lang^=my] .design-home__txt-desc {
  line-height: 1.6;
}
.design-home__divider {
  display: inline-block;
  width: 4px;
  width: 0.2777777778vw;
  height: 140px;
  height: 9.7222222222vw;
  margin-top: 60px;
  margin-top: 4.1666666667vw;
  background-color: #fe5d4d;
}
@media (min-width: 1440px) {
  .design-home__divider {
    width: 4px;
  }
}
@media (min-width: 1440px) {
  .design-home__divider {
    height: 140px;
  }
}
@media (min-width: 1440px) {
  .design-home__divider {
    margin-top: 60px;
  }
}
.design-home__contents {
  display: inline-block;
  position: relative;
  width: 674px;
  width: 46.8055555556vw;
  height: 830px;
  height: 57.6388888889vw;
  background-color: red;
  vertical-align: top;
  transition: transform 0.5s ease-in-out;
}
@media (min-width: 1440px) {
  .design-home__contents {
    width: 674px;
  }
}
@media (min-width: 1440px) {
  .design-home__contents {
    height: 830px;
  }
}
.design-home__contents:hover {
  z-index: 1;
  transform: scale(1.05);
}
.design-home__contents:hover .design-home__contents-img {
  opacity: 1;
  visibility: visible;
}
.design-home__contents-wrap {
  display: inline-block;
  position: relative;
  margin-top: 150px;
  margin-top: 10.4166666667vw;
  font-size: 0;
}
@media (min-width: 1440px) {
  .design-home__contents-wrap {
    margin-top: 150px;
  }
}
.design-home__contents--blue {
  z-index: 1;
  background: url("../img/img_gate_1.jpg") no-repeat center center;
}
.design-home__contents--blue .design-home__contents-img {
  background-image: url("../img/img_gate_1_hover.jpg");
}
.design-home__contents--red {
  margin: 200px 0px 0px -150px;
  margin: 13.8888888889vw 0vw 0vw -10.4166666667vw;
  background: url("../img/img_gate_2.jpg") no-repeat center center;
}
@media (min-width: 1440px) {
  .design-home__contents--red {
    margin: 200px 0px 0px -150px;
  }
}
.design-home__contents--red .design-home__contents-img {
  background-image: url("../img/img_gate_2_hover.jpg");
}
.design-home__contents-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.design-home__contents-link {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #fff;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.design-home__contents-link h2 {
  display: inline-block;
  font-size: 48px;
  font-size: 3.3333333333vw;
  font-weight: normal;
  border-bottom: 2px solid #fff;
}
@media (min-width: 1440px) {
  .design-home__contents-link h2 {
    font-size: 48px;
  }
}
.design-home__contents-link span {
  margin-top: 20px;
  margin-top: 1.3888888889vw;
  font-size: 24px;
  font-size: 1.6666666667vw;
  letter-spacing: -0.05em;
}
@media (min-width: 1440px) {
  .design-home__contents-link span {
    margin-top: 20px;
  }
}
@media (min-width: 1440px) {
  .design-home__contents-link span {
    font-size: 24px;
  }
}
.design-home__symbol {
  display: inline-block;
}
.design-home__symbol-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 0;
}
.design-home__symbol-parts {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.design-home .symbol-small {
  margin: 50px 0px 0px -150px;
  margin: 3.4722222222vw 0vw 0vw -10.4166666667vw;
}
@media (min-width: 1440px) {
  .design-home .symbol-small {
    margin: 50px 0px 0px -150px;
  }
}
.design-home .symbol-small-left {
  width: 150px;
  width: 10.4166666667vw;
  height: 300px;
  height: 20.8333333333vw;
  background-image: url("../img/svg_symbol_6_1.png");
}
@media (min-width: 1440px) {
  .design-home .symbol-small-left {
    width: 150px;
  }
}
@media (min-width: 1440px) {
  .design-home .symbol-small-left {
    height: 300px;
  }
}
.design-home .symbol-small-right {
  width: 150px;
  width: 10.4166666667vw;
  height: 300px;
  height: 20.8333333333vw;
  background-image: url("../img/svg_symbol_6_2.png");
}
@media (min-width: 1440px) {
  .design-home .symbol-small-right {
    width: 150px;
  }
}
@media (min-width: 1440px) {
  .design-home .symbol-small-right {
    height: 300px;
  }
}
.design-home .symbol-large {
  position: absolute;
  top: 670px;
  top: 46.5277777778vw;
  left: 320px;
  left: 22.2222222222vw;
  width: 400px;
  width: 27.7777777778vw;
}
@media (min-width: 1440px) {
  .design-home .symbol-large {
    top: 670px;
  }
}
@media (min-width: 1440px) {
  .design-home .symbol-large {
    left: 320px;
  }
}
@media (min-width: 1440px) {
  .design-home .symbol-large {
    width: 400px;
  }
}
.design-home .symbol-large-left {
  width: 200px;
  width: 13.8888888889vw;
  height: 400px;
  height: 27.7777777778vw;
  background-image: url("../img/svg_symbol_5.png");
}
@media (min-width: 1440px) {
  .design-home .symbol-large-left {
    width: 200px;
  }
}
@media (min-width: 1440px) {
  .design-home .symbol-large-left {
    height: 400px;
  }
}
.design-home .symbol-large-right {
  width: 200px;
  width: 13.8888888889vw;
  height: 400px;
  height: 27.7777777778vw;
  background-image: url("../img/svg_symbol_5.png");
  transform: rotate(180deg);
}
@media (min-width: 1440px) {
  .design-home .symbol-large-right {
    width: 200px;
  }
}
@media (min-width: 1440px) {
  .design-home .symbol-large-right {
    height: 400px;
  }
}

.design-social {
  background-color: red;
}