/* common */
@font-face {
  font-family: "Samsung Sharp Sans";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/SamsungSharpSans-regular.TTF") format("truetype"), url("/fonts/SamsungSharpSans-regular.TTF") format("embedded-opentype");
}
@font-face {
  font-family: "Samsung Sharp Sans";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/SamsungSharpSans-Bold.eot");
  src: url("/fonts/SamsungSharpSans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/SamsungSharpSans-Bold.woff2") format("woff2"), url("/fonts/SamsungSharpSans-Bold.woff") format("woff"), url("/fonts/SamsungSharpSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/samsungoneuilatin-400.ttf") format("truetype"), url("/fonts/samsungoneuilatin-400.eot") format("embedded-opentype");
}
@font-face {
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/samsungoneuilatin-700.eot");
  src: url("/fonts/samsungoneuilatin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/samsungoneuilatin-700.woff2") format("woff2"), url("/fonts/samsungoneuilatin-700.woff") format("woff"), url("/fonts/samsungoneuilatin-700.ttf") format("truetype");
}
/* break points */
/* font */
/* class */
/* breakpoints */
/* vw conversion */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  display: block;
}

html,
body {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  margin: -1px;
  padding: 0;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address,
caption,
em {
  font-style: normal;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  color: #000;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  text-indent: -9999px;
  white-space: nowrap;
}

html,
body {
  font-family: "SamsungOne", arial;
}

#wrap {
  background-color: #ffeeec;
}

/* header */
.header {
  background-color: #fff;
}
.header-inner {
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: space-between;
  height: 70px;
  height: 4.8611111111vw;
  padding: 0px 100px;
  padding: 0vw 6.9444444444vw;
}
@media (min-width: 1440px) {
  .header-inner {
    height: 70px;
  }
}
@media (min-width: 1440px) {
  .header-inner {
    padding: 0px 100px;
  }
}
.header-logo {
  display: flex;
  position: absolute;
  align-items: center;
  left: 100px;
  left: 6.9444444444vw;
  width: 230px;
  width: 15.9722222222vw;
  height: 100%;
}
@media (min-width: 1440px) {
  .header-logo {
    left: 100px;
  }
}
@media (min-width: 1440px) {
  .header-logo {
    width: 230px;
  }
}
.header-logo__link {
  display: block;
}
.header-logo__link img {
  width: 100%;
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header-nav__list {
  display: flex;
}
.header-nav__item ~ .header-nav__item {
  margin-left: 50px;
  margin-left: 3.4722222222vw;
}
@media (min-width: 1440px) {
  .header-nav__item ~ .header-nav__item {
    margin-left: 50px;
  }
}
.header-nav__link {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "SamsungOne", arial;
  font-size: 20px;
  font-size: 1.3888888889vw;
}
@media (min-width: 1440px) {
  .header-nav__link {
    font-size: 20px;
  }
}
.header-util {
  display: flex;
  position: absolute;
  align-items: center;
  right: 100px;
  right: 6.9444444444vw;
  height: 100%;
  transform: translateY(0);
  transition: transform 0.5s ease-in;
}
@media (min-width: 1440px) {
  .header-util {
    right: 100px;
  }
}
.is-search-opened .header-util {
  transform: translateY(-100%);
}
.header-search__cta {
  display: inline-block;
  width: 20px;
  width: 1.3888888889vw;
  height: 20px;
  height: 1.3888888889vw;
  background: url("../../img/icon_search.png") no-repeat;
  background-size: contain;
}
@media (min-width: 1440px) {
  .header-search__cta {
    width: 20px;
  }
}
@media (min-width: 1440px) {
  .header-search__cta {
    height: 20px;
  }
}
.header-search__layer {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 70px;
  height: 4.8611111111vw;
  z-index: -1;
  transition: transform 0.5s ease-in;
  background-color: #fff;
}
@media (min-width: 1440px) {
  .header-search__layer {
    height: 70px;
  }
}
.is-search-opened .header-search__layer {
  transform: translateY(100%);
}
.header-search__layer-input {
  position: absolute;
  top: 70px;
  top: 4.8611111111vw;
  right: 100px;
  right: 6.9444444444vw;
  width: 260px;
  width: 18.0555555556vw;
  padding: 10px 70px 10px 0px;
  padding: 0.6944444444vw 4.8611111111vw 0.6944444444vw 0vw;
  border-bottom: 2px solid #000;
}
@media (min-width: 1440px) {
  .header-search__layer-input {
    top: 70px;
  }
}
@media (min-width: 1440px) {
  .header-search__layer-input {
    right: 100px;
  }
}
@media (min-width: 1440px) {
  .header-search__layer-input {
    width: 260px;
  }
}
@media (min-width: 1440px) {
  .header-search__layer-input {
    padding: 10px 70px 10px 0px;
  }
}
.header-search__layer-input input {
  font-family: "SamsungOne", arial;
  border: none;
  background-color: transparent;
}
.header-search__layer-cta {
  position: absolute;
  top: 50%;
  right: 0;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.25vw;
  text-transform: uppercase;
  transform: translateY(-50%);
}
@media (min-width: 1440px) {
  .header-search__layer-cta {
    font-size: 18px;
  }
}
.header-lang {
  margin-left: 30px;
  margin-left: 2.0833333333vw;
  padding-right: 15px;
  padding-right: 1.0416666667vw;
}
@media (min-width: 1440px) {
  .header-lang {
    margin-left: 30px;
  }
}
@media (min-width: 1440px) {
  .header-lang {
    padding-right: 15px;
  }
}
.header-lang:after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 6px;
  width: 0.4166666667vw;
  height: 6px;
  height: 0.4166666667vw;
  transform: translateY(-50%);
  background: url("../../img/icon_arrow.png") no-repeat;
  background-size: contain;
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
  content: "";
}
@media (min-width: 1440px) {
  .header-lang:after {
    width: 6px;
  }
}
@media (min-width: 1440px) {
  .header-lang:after {
    height: 6px;
  }
}
.is-lang-opened .header-lang:after {
  transform: rotate(180deg);
}
.header-lang__cta {
  display: inline-block;
  width: 20px;
  width: 1.3888888889vw;
  height: 20px;
  height: 1.3888888889vw;
  background: url("../../img/icon_lang.png") no-repeat;
  background-size: contain;
}
@media (min-width: 1440px) {
  .header-lang__cta {
    width: 20px;
  }
}
@media (min-width: 1440px) {
  .header-lang__cta {
    height: 20px;
  }
}
.header-lang__layer {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 70px;
  height: 4.8611111111vw;
  z-index: -1;
  transition: transform 0.5s ease-in;
  background-color: #fff;
}
@media (min-width: 1440px) {
  .header-lang__layer {
    height: 70px;
  }
}
.is-lang-opened .header-lang__layer {
  transform: translateY(100%);
}
.header-lang__layer-list {
  position: absolute;
  top: 0;
  right: 116px;
  right: 8.0555555556vw;
}
@media (min-width: 1440px) {
  .header-lang__layer-list {
    right: 116px;
  }
}
.header-lang__layer-item {
  margin-top: 8px;
  margin-top: 0.5555555556vw;
}
@media (min-width: 1440px) {
  .header-lang__layer-item {
    margin-top: 8px;
  }
}
.header-lang__layer-item:first-child {
  margin-top: 0;
}
.header-lang__layer-item.is-active .header-lang__layer-cta {
  border-bottom: 2px solid #000;
  color: #000;
}
.header-lang__layer-cta {
  display: inline-block;
  padding-bottom: 2px;
  padding-bottom: 0.1388888889vw;
  font-weight: 700;
  font-size: 16px;
  font-size: 1.1111111111vw;
  color: #666;
}
@media (min-width: 1440px) {
  .header-lang__layer-cta {
    padding-bottom: 2px;
  }
}
@media (min-width: 1440px) {
  .header-lang__layer-cta {
    font-size: 16px;
  }
}
.header-close {
  display: block;
  position: absolute;
  top: 50%;
  right: 100px;
  right: 6.9444444444vw;
  transform: translateY(-50%);
}
@media (min-width: 1440px) {
  .header-close {
    right: 100px;
  }
}
.header-close span {
  display: inline-block;
  width: 20px;
  width: 1.3888888889vw;
  height: 20px;
  height: 1.3888888889vw;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s 0.5s ease-in, opacity 0.3s;
}
@media (min-width: 1440px) {
  .header-close span {
    width: 20px;
  }
}
@media (min-width: 1440px) {
  .header-close span {
    height: 20px;
  }
}
.is-search-opened .header-close span {
  transform: scale(1.2);
  opacity: 1;
  visibility: visible;
}
.header-close span:before, .header-close span:after {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  content: "";
}
.header-close span:before {
  transform: rotate(45deg);
}
.header-close span:after {
  transform: rotate(-45deg);
}

/* pages */
.samsung-design-social {
  background-color: blue;
}

/*# sourceMappingURL=main.css.map */
